@media (max-width: 1200px)
    .header
        margin-right: 20px
        &__phone
            font-size: 16px

@media (max-width:  991px)
    .header
        &__phone
            font-size: 14px
    .promo
        &__wrapper 
            margin-right: 38px
        &__header
            font-size: 38px
        &__subheader
            margin-top: 14px
            font-size: 22px 
    .button        
        &_main
            width: 280px
            font-size: 15px    
    .advantages
        padding: 70px 20px                      
        
            
    